* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #fffffff6;
  color: #000000;
}


.header-container {
  position: relative;
  background: linear-gradient(135deg, #000241, #023a0b);
  padding: 60px 40px 40px 180px;
  color: rgb(249, 249, 249);
  display: flex;
  align-items: flex-start;
  overflow: visible;
}

.logo {
  position: absolute;
  top: 10px;
  left: 20px;
  width: 140px;
  cursor: pointer;
  z-index: 2;
}

.icon {
  transition: transform 0.5s ease;
  transform-origin: center;
}

.logo:hover .icon {
  transform: rotate(8deg) scale(1.05);
}

.check {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  animation: draw 1.6s ease forwards;
}

@keyframes draw {
  to { stroke-dashoffset: 0; }
}

.logo-text {
  transition: fill 0.4s ease;
}

.logo:hover .logo-text {
  fill: #fdfdfd;
}

.header-text h1 {
  font-size: 50px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.header-text p {
  font-size: 18px;
  margin-bottom: 15px;
}

#modeBtn {
  padding: 8px 16px;
  cursor: pointer;
}


nav {
  background: #07396e;
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 15px;
  flex-wrap: wrap;
}

nav a {
  color: rgb(252, 242, 242);
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

nav a:hover {
  color: #00ddff;
}

nav input {
  padding: 6px 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  margin-bottom: 5px;
}

.hero {
  padding: 40px;
  text-align: center;
  background: #e0e7ff;
  border-radius: 20px;
  margin: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}


.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
  padding: 40px;
}

.card {
  background: white;
  padding: 25px;
  border-radius: 18px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  transition: transform 0.3s, opacity 0.6s, transform 0.6s;
  opacity: 0;
  transform: translateY(30px);
}

.card.show {
  opacity: 1;
  transform: translateY(0);
}

.card:hover {
  transform: translateY(-8px);
}


.info {
  background: #fffdfd;
  padding: 40px;
  border-radius: 20px;
  margin: 20px;
}

.info h2 {
  margin-bottom: 15px;
}

.info ul li {
  margin: 8px 0;
}


footer {
  background: #0a2540;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px 10px 0 0;
}


.dark {
  background: #000000;
  color: #000000;
}

.dark header,
.dark nav,
.dark footer {
  background: #292929;
}

.dark .card {
  background: #151517;
  color: rgb(255, 251, 251);
}


.social-icons a {
  color: rgb(188, 0, 251);
  margin: 0 10px;
  font-size: 24px;
  transition: 0.3s;
}

.social-icons a:hover {
  color: #000000;
}
